#mainContainer {
	display: block;
	position: relative;
	background-color: white;
	text-align: left;
	padding: 0 0 2em 0;
}

a:link {
	text-decoration: none;
}

#aboutPitch {
	position: relative;
	z-index: 2;
}