#mainContainer {
	display: block;
	position: relative;
	background-color: white;
	text-align: left;
	padding: 0 0 2em 0;
}

h2 {
	margin: 0;
	padding: .5em 0 0 0 ;
	line-height: 0.7;
	font-weight: bold;
	font-size: 1.3em;	
}


a:link {
	text-decoration: none;
}

/*ABOUT*/
#aboutPitch {
	position: relative;
	z-index: 2;
}


/* TESTIMONIAL
-----------------------*/
#testimonial {
	margin: 2em 0 2.2em 0;
	text-align: center;

	padding: 1em 0 1.5em 0;
	-webkit-box-shadow: 0px -3px 0px rgba(30,120,255,0.4), 0px 3px 0px rgba(30,120,255,0.4);
	-moz-box-shadow: 0px -3px 0px rgba(30,120,255,0.4), 0px 3px 0px rgba(30,120,255,0.4);
	box-shadow: 0px -3px 0px rgba(30,120,255,0.4), 0px 3px 0px rgba(30,120,255,0.4);	
	
}

#testimonials p {
	margin: 0;
}

.quote {
	font-style: italic;
	margin: 0;
}

.person {
	color: rgba(130,130,130,1);
	margin: 0;
}



/*STANDARS*/


/*TEAM*/

#teamLeads {
	padding: .3em 0 1.5em 0;
}
#teamLeads ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#teamLeads li{

	padding: 0;
	margin: 0;
}

.partner img {
	border: 2px solid black;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
