#mainContainer {
	display: block;
	position: relative;
/*	background-color: orange;*/
	text-align: center;
}


/* TOP 
---------------------------*/
#statement {
	display: block;
	margin: 0 auto;
	position: relative;
	text-align: center;
/*	background-color: blue;*/
}

#mainContainer h1 {
	padding: 0;
	margin: 0 auto;
	position: relative;
	display: inline;
	text-align: center;
}

#mainContainer h2 {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#need {
	min-height: 4.5em;
}

.mobile {
/*	display: none;*/
}

.web {
	display: none;
}

.data {
	display: none;
}

/* MAIN
------------------------------*/

#mainImage {
	display: inline-block;
	position: relative;
	padding: 0;
/*	background-color: purple;*/
}

#mainImage img {

}