<h1>About</h1>

<div id="aboutPitch">
Protovore Partners is a 
</div>

<!-- <div id="team">
	<ul>
		<li>Ethan Stillman</li>
		<li>Angad Singh</li>
		<li>Keith Steward</li>
		<li>Joshua Levitt</li>
		<li>Daniel LaLiberte</li>
		<li>Costas Boussious</li>
		<li>Carlos Cashman</li>
		<li>Matthew Bergman</li>
		<li>Jeff Heuer</li>
		<li>Rick Hull</li>
		<li>Frank Denbrow</li>
		<li>Andrei Scheinkman</li>
		<li>Brian Mitchell</li>
		<li>Sam Gershman</li>
	</ul>
</div> -->