<h1>About</h1>

<div id="aboutPitch">
	<p>
		Protovore Partners exists at the intersection of the 'hacker' and startup communities.  We live to build, but also build to live.
	</p>
	<p>
		Each of us is working in our own ways and according to our own agendas to materially improve society. This can be a daunting task and a winding road, but to the true-believer, a required undertaking.
	</p>
	<p>	
	Protovore Partners is our way of taking advantage of our collective capacities to provide a healthy lifestyle for ourselves as we pursue our individually-held causes, or search for an appropriate cause or company to truly devote ourselves to. We are practical fanatics.
	</p>
	<p>
	If you take a moment to think about this, you'll realize this makes us very good partners to have on your project.
	</p>
		
<!-- 		
		It's not that we don't want to be part of a startup, it's that we recognize the immense commitment that joining a startup represents and are each in our own ways seeking to be productive while we search for the perfect cause to commit ourselves to.  
	</p> 

		The 'pure' hacker and the 'pure' entrepreneur are wholly different beasts with different outlooks on the world.
	</p> 
	<p>
		The pure hacker tends to be very similar to an artist -- worrying about anything other than creating is just not an acceptable mode of thought.  -->
</div>

<!-- <div id="team">
	<ul>
		<li>Ethan Stillman</li>
		<li>Angad Singh</li>
		<li>Keith Steward</li>
		<li>Joshua Levitt</li>
		<li>Daniel LaLiberte</li>
		<li>Costas Boussious</li>
		<li>Carlos Cashman</li>
		<li>Matthew Bergman</li>
		<li>Jeff Heuer</li>
		<li>Rick Hull</li>
		<li>Frank Denbrow</li>
		<li>Andrei Scheinkman</li>
		<li>Brian Mitchell</li>
		<li>Sam Gershman</li>
	</ul>
</div> -->