<h1>Contact</h1>

<div id="contactOverview">
	<p>Protovore Partners is based in Williamsburg, Brooklyn, with additional operations in the Cambridge, Massachusetts.</p>
	
	<p>Please feel free to reach out.</p> 
</div>

<div id="email">
	<b>Email<b><br/>
	<pre>contact@protovore.com</pre>
</div>

<div id="phone">
	<b>Phone</b><br/>
	<pre>(617) 460-5544</pre>
</div>

<div id="address">
	<b>Address</b><br/>
	<pre>78 Ten Eyck Street, #3A<br/>Brooklyn, New York, 11206</pre>
</div>

<div id="map">

	<%= render :partial => "layouts/map" %>

</div>