<div id="mainContainer">
	<div id="statement">
		<h1>Mobile?</h1><br/>
		<h2>We do that.</h2>
	</div>
	<div id="mainImage">
		<!-- <%= image_tag("mac.png", :alt => "Web? We do that.") %> -->
		<%= image_tag("bigiphone.png")%>
		<!-- <%= image_tag("custom.jpg")%> -->
	</div>
</div>