<div id="statement">
	<div id="need">
		<div class="mobile">
			<h1>Mobile?</h1>
		</div>
		<div class="web">
			<h1>Web?</h1>				
		</div>
		<div class="data">
			<h1>Data?</h1>
		</div>
	</div>
	<h2>We do that.</h2>
</div>
<div id="mainImage">
	<div class="mobile">
		<%= image_tag('iphone.jpg') %>		
	</div>
	<div class="web">
		<%= image_tag("mac.jpg", :alt => "Web? We do that.") %>
	</div>
	<div class="data">
		<%= image_tag("data.jpg") %>
	</div>
</div>

<!-- <div id="pitch">
	<p>We are startup technologists committed to helping you solve your product, technology, and distribution challenges.<br/> We are Protovore Partners.</p>
</div> -->

<div id="pitch">
	<p>We are a federation of startup, technology, and design specialists.<br/>
	   We build prototypes, systems, products, and businesses.<br/>
	   We are Protovore Partners and we can help.</p>


	<!-- <p>We are startup technology consultants committed to innovation.<br/>
	   We build prototypes, systems, products, and businesses.<br/>
	   We are Protovore Partners and we can help.</p> -->
</div>


<%= render :partial => "shared/inquiryForm" %>