<h2>Services</h2>

<div>
	<p>
		Protovore Partners takes an holistic approach to helping our clients enhance their businesses.
	</p>
	<p>
		We are an eclectic bunch with a diverse and deep set of skills.<br/>
		Some of the things we can help you do:
	</p>
</div>

<div>
	<ul id="servicesList">		
		<li>
			<strong>Design</strong><br/>
			interface and user experience design and implementation. Making products fun to use and fun to look at.
		</li>
		<li>
			<strong>Development</strong><br/>
			Technology architecture and development. Web, mobile, tablet, embedded systems? Wherever you need your product to run, we can help you make it happen.
		</li>
		<li>
			<strong>Partnerships</strong><br/>
			Technology partnership opportunity identification, negotiation, and management
		</li>
		<li>
			<strong>Prototyping</strong><br/>
			Need to get a quick sketch of your vision up and running? We can help.
		</li>
		<li>
			<strong>Security</strong><br/>
			Need to protect your data?
		</li>
		<li>
			<strong>Scaling</strong><br/>
			The best problem to have.
		</li>
		<li>
			<strong>Marketing</strong><br/>
			Reaching your audience is not a simply a matter of buying Search ads (although doing that well certainly helps). To really be effective, you need to take a custom approach to communicating at scale with your audience. Marketing is a technology and social systems challenge.
		</li>
		<li>
			<strong>Research</strong><br/>
			Be it scoping out new markets, discovering and keeping tabs on competitors, or trying to answer important market trend questions, our combination of startup experience and technical capacities can help you understand the spaces you operate in.
		</li>
		<li>
			<strong>Data Mining</strong><br/>
			Have a lot of data or want to collect a lot of it? We can help.  There are all sorts of ways to do interesting and valuable things with the right amount of data manipulation. Lucky for you, we're quite good at that.
		</li>
		<li>
			<strong>Artificial Intelligence</strong><br/>
			For those who truly want to outwit their competition.
		</li>		
	</ul>
</div>

<%= render :partial => "shared/inquiryForm" %>