<h2>Services</h2>

<div>
	<p>
		Protovore Partners takes an holistic approach to helping clients enhance their businesses.
	</p>
</div>

<div>
	<ul>
		<li><strong>Design</strong> interface and user experience design and implementation. Making products fun to use and fun to look at.</li>
		<li><strong>Development</strong> Technology architecture and development. Web, mobile, tablet, embedded systems? Wherever you need your product to run, we can help you make it happen.</li>
		<li><strong>Partnership</strong> Technology partnership opportunity identification, negotiation, and management</li>
		<li><strong>Prototyping</strong> Need to get a quick sketch of your vision up and running? We can help.</li>
		<li><strong>Marketing</strong> Reaching your audience is not a simply a matter of buying Search ads (although doing that well certainly helps). To really be effective, you need to take a custom approach to communicating at scale with your audience. Marketing is a technology systems challenge.</li>
		<li><strong>Data Mining</strong> Have a lot of data or want to collect a lot of it? We can help.  There are all sorts of ways to do interesting and valuable things with the right amount of data manipulation. Lucky for you, we're quite good at that.</li>
		<li><strong>Artificial Intelligence</strong> For the truly hard-core,
		
	</ul>
</div>