<%= stylesheet_link_tag 'thanks' %>
<div id="thanks">
	<h2>Thanks for reaching out.</h2>
</div>

<div id="thanksMessage">
	<p>
		We will be in touch shortly.<br/>
		If you need to speak to someone immediately please text:
	</p>
	<pre>(617) 460-5544</pre>
</div>

<div id="moreInfo">
	<p>
	If you would like to provide more details about the product, technology, or business challenges you are facing, or how else we can help you, please do so here:
	</p>
	
	<div id="moreForm">
		<%= form_for(@inquiry) do |f| %>
			<%= f.text_area :content %>
			<div>
				<%= f.submit 'submit' , :class => "submitInfo" %>
			</div>
		<% end %>
	</div>
</div>