<div>
<h2>Thanks for reaching out.</h2>

<p>
	We will be in touch shortly.<br/>
	If you need to speak to someone immediately please email:
</p>
<pre>technomergency@protovore.com</pre>
<p> or text</p>
<pre>(617) 460-5544</pre>
<br/>

<p>
	If you would like to provide more details about the product, technology, or business challenges you are facing, or how else we can help you, please do so here:
</p>

<%= form_for(@inquiry) do |f| %>

	<%= f.text_area :content %>

	<div>
		<%= f.submit 'submit' %>
	</div>
<% end %>
